html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header *, footer * {
  text-decoration: none;
  font-weight: bold;
}

.headerLeft, .headerRight, .footerLeft, .footerRight {
  display: flex;
  align-items: center;
}

header a, footer a {
  color: black;
}

.headerLeft img.logo, .footerLeft img.logo {
  /* width: 10vw; */
  height: 10vh;
  margin: 0 3vw 0 0;
  background-position: center;
  background-size: cover;
}

header p, header input {
  margin-right: 1.5vw;
  border: none;
  outline: none;
}

header p:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

table.dropdown-content {
  padding: 1vh .5vw;
  background-color: white;
  display: none;
  position: absolute;
  width: 26vw;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown:hover table.dropdown-content {
  display: block;
}

table.dropdown-content tbody tr, th.th {
  height: 4vh;
}

table.dropdown-content th, table.dropdown-content td {
  width: 8vw;
}

.fa-search {
  margin-right: .2vw;
}

.footerRight a img {
  width: 2.2vw;
  margin: 0 0 0 0.5vw;
  border-radius: 50%;
}

.containerRegister {
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/fondo.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagRegister {
  background-image: url(../src/assets/registro.jpg);
  height: 50vh;
  width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 30vh;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.registerInput {
  height: 20vh;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10vh;
}

.register {
  height: 50vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10vh;
  background-color: rgb(255, 255, 255);
  position: absolute ;
  border: solid 2px rgb(83, 1, 150);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.inputRegister {
  width: 20VW;
  height: 5vh;
  margin-top: 2vh;
  border: none;
  border-bottom: solid 1.5px rgb(98, 18, 129);
  padding-left: 3vh;
  padding-right: 3vh;
}

.inputRegister:focus , .botonRegister:focus {
  outline: none;
}

.botonRegister {
  background-color: rgb(98, 18, 129);
  width: 10vw;
  color: rgb(255, 255, 255);
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 2vh;
  border-radius: 25px 25px 25px 25px ;
}