/* ----- General configuration for the all document ----- */

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Styles for Header and Footer (Juanca) */

.containerHeader {
    height: 15vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

header, footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
header *, footer * {
  text-decoration: none;
  font-weight: bold;
}

.headerLeft, .headerRight, .toSearch, .footerLeft, .footerRight {
  display: flex;
  align-items: center;
}
.containerDrop {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header div.toSearch {
  margin-top: .3vw;
  cursor: pointer;
}

header a, footer a {
  color: black;
  cursor: pointer;
}

.headerLeft img.logo, .footerLeft img.logo {
  width: 15vw;
  margin: 0 3vw 0 0;
  background-position: center;
  background-size: cover;
}

header p {
  margin: 0 1.5vw 0 0;
  border: none;
  outline: none;
  cursor: pointer;
}

header p, header i, footer p {
  font-size: 1.4vw;
}

header div.toSearch:hover, header p:hover, header a:hover {
  text-decoration: underline;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

div.dropdown-content {
  padding: 1vh .5vw;
  background-color: white;
  display: none;
  position: absolute;
  width: 32vw;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown:hover div.dropdown-content {
  display: block;
}

.dropdown-content .genres {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-content .genres p.genre {
  margin: .1vh .2vw .1vh 0;
  width: 10vw; 
}

.fa-search {
  margin-right: .2vw;
}

.dropDownPic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 11, 139);;
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin: 0 1vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerRight a img {
  width: 2.2vw;
  margin: 0 0 0 0.5vw;
  border-radius: 50%;
}

/* Styles ngngs user (Juanca) */
section.settings {
  min-height: 79.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.form-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  /* margin: 0 10vw 0 0; */
  /* margin: auto; */
}

.form-settings label  {
  width: 15vw;
  text-align: right;
  margin: 1vh 1vw 1vh 0;
}

.form-settings input, .form-settings select, .form-settings div.checkbox{
  width: 20vw;
  text-align: left;
}

.form-settings input#showName {
  width: 1vw;
}
.form-settings div.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Responsividad (Juanca) */
@media (max-width: 992px) {
  div.firstSection {
    height: 100vh;
    flex-direction: column;
  }
  
  div.leftBoxFirst, div.rightBoxFirst {
    margin: 3vh 0 0;
    padding: 0;
  }

  div.leftBoxFirst {
    text-align: center;
    width: 90vw;
    height: 65vh;
  }

  div.rightBoxFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;
    text-align: center;
    min-width: 450px;
    min-height: 200px;
  }

  div.leftBoxFirst * {
    width: 80%;
  }
  
  h1.titleFirst {
    font-size: 5vh;
    margin-bottom: 2vh;
    text-shadow: 1px 0 1px white;
  }

  p.firstP {
    margin: 0;
    font-size: 4vh;
    margin-bottom: 2vh;
  }
  p.secondP {
    margin: 0;
    font-size: 3vh;
    margin-bottom: 2vh;
  }

  div.leftBoxFirst button.btn.btn-danger{
    width: 30vw;
  }

  div.secondSection {
    height: 80vh;
    margin: 8vh 0 0;
  }

  div.firstUp {
    font-size: 4vh;
    margin-bottom: 2vh;
  }

  div.secondUp {
    width: 100vw;
    margin-bottom: 2vh;
  }

  div.secondUp div.verContainer, div.secondUp div.verContainer i{
    width: 30vw;
    font-size: 20px;
  }

  div.secondUp div.verContainer:nth-child(2){
    margin: 4vh 2vw 0;
    width: 35vw;
  }

  div.downBoxSecond {
    height: 50vh;
    margin: 8vh 0 0;
  }

  div.textRightSecondBox {
    margin-right: 0;
    height: 45vh;
  }

  p.firstTextRightSecond {
    font-size: 20px;
    margin-bottom: 3vh;
  }

  p.secondTextRightSecond {
    margin-bottom: 3vh;
  }

  div.imgBoxSecond {
    height: 40vh;
    /* width: 30vw; */
    background-position: center;
  }

  div.svgContainer div {
    min-width: 6vw;
  }
  div.hulu {
    margin: 0;
  }

  div.thirdSection {
    height: 100vh;
    margin: 8vh 0 0
  }
  
  p.titleThirdSec {
    font-size: 4vh;
  }

  div.upContainerThird {
    height: 55vh;
  }
  p.subTitleThirdSec {
    width: 80vw;
    text-align: center;
    font-size: 20px;
  }

  p.titleTextSecContTh {
    font-size: 20px;
    width: 100%;
  }

  div.infoSecondContainerThird {
    margin: 0;
    width: 32vw;
  }

  div.firstContainerUpThird {
    margin-bottom: 1vh;
  }

  div.textSecondContThird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 32vw;
  }
  p.bodyTxtSecContTh {
    /* width: 20vw; */
    font-size: 15px;
    width: 100%;
  }

  div.imgThirdSec {
    width: 95vw;
    height: 30vh;
  }
  
  div.imgThirdSec div {
    margin: 0;
    width: 27vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.imgThirdSec div p {
    margin: 0;
    padding: 0;
    width: 70%;
    text-align: center;
    font-size: 20px;
  }

  div.fourthSection {
    margin-top: 6vh;
    height: 75vh;
  }

  div.upContainerFourth {
    padding: 0;
    height: 30vh;
    width: 100vw;
  }

  p.fourthTitle {
    font-size: 30px;
  }

  p.fourthBody {
    font-size: 20px;
  }

  div.fourthSecButtons {
    width: 62vw;
    justify-content: center;
  }

  div.fourthSecButtons *{
    margin: 0 3vw;
  }

  div.fourthSecBack {
    padding: 0;
    width: 100vw;
    height: 60vh;
    background-size: contain;
  }
  
}
@media (max-width: 600px) {
  
}



  /* estilos del register (gime) */
.containerRegister,.containerLogin {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;
}

.imagRegister {
    background-image: url(../assets/fondoRegister.jpg);
    height: 100vh;
    width: 99vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    display: flex;
}

.userImage {
    background-position: center;
    background-size: cover;
}

.registerInput {
    height: 20vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 93%;
}

.register {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    position: absolute ;
    border: solid 2px rgb(83, 1, 150);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nameAndLastName, .userNameAndPassword {
    display: flex;
    justify-content: space-between;
}

 .userNameAndPassword input {
    width: 14.3vw;
    margin: 1vh;

}
.nameAndLastName input{
    width: 15vw;
    margin: 1vh;
}

.inputRegister {
    width: 31VW;
    height: 5vh;
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1.5px rgb(98, 18, 129);
    padding-left: 3vh;
    padding-right: 3vh;
}

.inputRegister:focus , .botonRegister:focus {
    outline: none;
}

.a {
    width: 31vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ojito {
    margin-top: 1.5vh;
}

.inputRegisterPassword{
    width: 29vw;
    height: 5vh;
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1.5px rgb(98, 18, 129);
    padding-left: 3vh;
    padding-right: 3vh;
}

.botonRegister {
    background-color: rgb(98, 18, 129);
    width: 10vw;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 25px 25px 25px 25px ;
}

.login {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    position: absolute ;
    border: solid 2px rgb(83, 1, 150);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.iconoFacebook{
    background-color: rgb(35, 60, 201);
    color: white;
    padding: 0;
    width: 16vw;
    margin-top: 1vh;
}

/* ESTILOS DE LA HOME Y LAS SECTIONS (MAURI) */

  .sectionBox{
      /* min-height: 100vh; */
      background-image: url("../assets/fotoHome2Trans.png");
      position:relative;
      background-size: cover;
      background-position:right;
      background-attachment: fixed;
  }
  .firstSection{
      height: 90vh;
      /* margin-top: 4vh; */
      margin-left: 1vw;
      display: flex;
      align-items: center;
  }
  .leftBoxFirst{
      margin-left: 4vw;
      width:50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 70vh;
  
  }
  .titleFirst{
      color: rgb(103, 11, 139);
      font-weight: bold;
      font-size: 4vw;
      width: 25vw;
  }
  .boton2{
      margin-left: 2vw;
  }
  .btn{
      background-color:rgb(138, 61, 168)!important;
      border: rgb(138, 61, 168);
  }
  .btn:hover{
      background-color: rgb(163, 87, 173)!important;
  }
  .firstP{
      margin-top: 4vh;
      font-weight: bold;
      font-size: 1.7vw;
      width: 25vw;
  }
  .secondP{
      margin-top: 4vh;
      font-size: 1.5vw;
      color: rgb(112, 111, 111);
      width: 25vw;
      margin-bottom: 4vh;
  }
  .rightBoxFirst{
      background-image: url('../assets/dispositivos2.png');
      background-size: contain;
      background-repeat: no-repeat;
      height: 50vh;
      width: 50vw;
      margin-top: 20vh;
      padding-right: 10vw;
  }
  .secondSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      padding-bottom: 1vh;
      margin-top: 15vh;
      /* background-color: rgba(127, 255, 212, 0.459); */
  }
  .firstUp{
      text-align: center;
      font-size: 3vw;
      font-weight: bold;
  }
  .secondUp{
      display: flex;
      width: 90vw;
      justify-content: space-between;
      text-align: center;
      color: rgb(175, 98, 194)
  }
  .verContainer{
      width: 25vw;
      margin-top: 4vh;
      font-size: 1.7vw;
  }
  .verContainer p {
      font-weight: 600;
  }
  .verContainer i{
      font-size: 2vw;
      font-weight: bold;
      margin-bottom: 1vh;
  }
  .downBoxSecond{
      display: flex;
      justify-content: space-evenly;
      height: 60vh;
      width: 90vw;
      margin-top: 9vh;
      margin-left: 4vw;
  }
  .imgBoxSecond{
      background-image: url('../assets/secondImage.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 50vw;
      height: 50vh;
      min-width: 300px;
  }
  .textRightSecondBox{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 45vw;
      margin-right: 5vw;
      height: 40vh;
  }
  .firstTextRightSecond{
      font-size: 2vw;
      font-weight: bold;
  }
  .secondTextRightSecond{
      color: rgb(123, 122, 122);
      font-weight: 600;
  }
  .thirdTextRightSecond{
      color: rgb(123, 122, 122);
      font-weight: 600;
  }
  .svgContainer{
      /* background-color: coral; */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 15vh;
      margin-top: -2vh;
  }
  .sony{
      background-image: url('../assets/sony.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 12vh;
      width: 5vw;
      /* background-color: cyan; */
  }
  .hulu{
      background-image: url('../assets/hulu.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 5vh;
      width: 5vw;
      margin-right: 2vw;
  }
  .syfy{
      background-image: url('../assets/syfy.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 5vh;
      width: 10vw;
  }
  .thirdSection{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 15vh;
      /* background-color: darksalmon; */
  }
  .upContainerThird{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* background-color: darkseagreen; */
      justify-content: space-evenly;
      height: 62vh;
      width: 95vw;
  }
  .firstContainerUpThird{
      text-align: center;
      margin-bottom: 7vh;
  }
  .titleThirdSec{
      font-size: 3vw;
      font-weight: bold;
      margin-bottom: 4vh;
  }
  .subTitleThirdSec{
      font-size: 1.4vw;
  }
  .secondContainerUpThird{
      display: flex;
  }
  .infoSecondContainerThird{
      display: flex;
      /* background-color: cyan; */
      height: 30vh;
      width: 25vw;
      align-items: center;
  }
  .titleTextSecContTh{
      font-size: 2vw;
      font-weight: 640;
  }
  /* .bodyTxtSecContTh{
      color:rgb(112, 112, 112);
  } */
  .numberSecondContThird{
      display: flex;
      color: rgb(175, 98, 194);
      align-items: center;
      font-size: 6vw;
      font-weight: bold;
      margin-right: 2vw;
      margin-left: 1.5vw;
  }
  .textSecondContThird{
      font-size: 1.2vw;
      width: 20vw;
      /* height: 19vh; */
      margin-right: 1vw;
  }
  .imgThirdSec{
      display: flex;
      width: 80vw;
      padding-left: 1.5vw;
      /* background-color: darkturquoise; */
      justify-content: space-around ;
      color: whitesmoke;
  }
  .resources{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .resources p{
      font-size: 1.8vw;
      text-align: center;
      font-weight: bold;
      width: 10vw;
  
  }
  .readers{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      /* background-position: center; */
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-left: 0.5vw;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .readers p{
      font-size: 1.8vw;
      font-weight: bold;
      width: 10vw;
      text-align: center;
  }
  .offers{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .offers p{
      font-size: 1.8vw;
      font-weight: bold;
      width: 10vw;
      text-align: center;
  }
  .fourthSection{
      background-image: url('../assets/thirdImage.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      margin-top: 15vh;
      margin-bottom: 17vh;
      justify-content: space-between;
  }
  .upContainerFourth{
      /* background-color: thistle; */
      height: 40vh;
      width: 50vw;
      padding-bottom: 4vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
  }
  .fourthTitle{
      color: white;
      font-size: 3vw;
      font-weight: bold;
  }
  .fourthBody{
      color: white;
      font-size: 1.5vw;
      font-weight: 600;
  }
  .fourthSecButtons{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }
  .fourthSecButtons button{
      color: white;
  }
  .fourthSecBack{
      background-image: url('../assets/dispositivos.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 88vh;
      width: 95vw;
      margin-bottom: -16vh;
  }

/* ----- Styles for component SearchStories ----- */ 
/* --- Fabi --- */

            /* Search Bar */
.containerComponentSearchStories {
    background-image: url('../assets/IMG-20210214-WA0068.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    min-height: 85vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerSearchBar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.inputSearchStories:focus {
    color: rgb(103, 11, 139);
    font-weight: bold;
}
.inputSearchStories {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(103, 11, 139);
    height: 75%;
    width: 50%;
    text-align: center;
    font-size: 2.5vw;
    border-style: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    transition: 750ms ease;
}
.inputSearchStories::placeholder {
    color:white;
}
.inputSearchStories:focus{ 
    background-color: white;
    transition: 750ms ease;
}
.inputSearchStories:focus::before{ 
    background-color:rgb(103, 11, 139);
    transition: 750ms ease;
}
.inputSearchStories:focus::placeholder {
    color:rgb(103, 11, 139);
    transition: 750ms ease;
}
.iconSearchStories {
    background-color: rgb(103, 11, 139);
    width: 5%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;   
    border-bottom-right-radius: 5px;
    color: white;
}
.iconSearchStories:hover {
    font-size: 2vw;
    transition: 150ms ease-in;
}
            /* Title Section */
.containerTitleSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-top: 2vh
}
.containerTitleSearch h1{
    font-size: 3.5vw;
}
            /* Cards */
.containerViewCardsCategories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
}
.containerViewCardsCategories a{
    text-decoration: none;
    font-size: 2.8vw;
    color: black;
}
.cardCategory {
    background-color: white;
    width: 23vw;
    height: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw;
    padding: 0.5vw;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(75 75 75);
    position: relative;
}
.cardCategory::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}
.cardCategory:hover {
    box-shadow: 4px -4px 12px rgb(103, 11, 139);
    transition: 300ms ease;
}
.cardCategory:hover::before {
    width: 100%;
}
.nameCategory {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.5vw;
}
.containerLogoCategory {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoCategory {
    background-color: hotpink;
    background-size: cover;
    border-radius: 50%;
}
            /* UserProfile */
.containerComponentUserProfile{
    flex-direction: row;
     background-image: url('../assets/IMG-20210214-WA0068.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.containerBannerUserData{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.containerContentOptions{
    display: flex;
    flex-direction: column;
    width: 70%;  
}
.bannerUserData {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /*border-left: 1px solid green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}
.photoEditProfile {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1vw;
}
.photoUser {
    background-color: rgb(103, 11, 139);
    background-position: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-size: cover;
}
.letterUser{
    background-color: rgb(103, 11, 139);
    color: white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: bold;
}
.buttonEditProfile{
    width: 13vw;
}
.buttonEditProfile button{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5vw;
}
.containerInformationFixed {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informationProfileUserBlock {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2vw;
}
.informationProfileUserFixed {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vh;
    width: 80%;
    font-size: 1.5vw;
}
.iconInformationProfileUserFixed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.dataInformationProfileUserFixed{
    width: 80%;
    padding-left: 0.5vw;
}
.dataInformationProfileUserFixed p, .fa-user, .fa-birthday-cake, .fa-bookmark, .fa-envelope, .optionMenu{
    color: rgb(103, 11, 139)
}
.dataInformationProfileUserFixed a{
    
    width: 50%;
    outline: none;
    border: none;
    padding: 0.5vw;
    margin-top: 7vw;
    font-size: 1.2vw;
    border-radius: 3vw;
    color: rgb(103, 11, 139)
}
.buttonLogout{
    color: rgb(103, 11, 139)
}
.buttonLogout button {
    background-color: rgba(103, 11, 139);
    outline: none;
    border: none;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 1.2vw;
    color: white;
}
.buttonLogout button:hover{
    background-color: rgb(103, 11, 139);
    font-weight: bold;
    font-size: 1.3vw;
    box-shadow: 4px -5px 5px thistle;
    transition: 250ms ease;
}

.titleProfile{
    height: 15%;
    font-size: 3.5vw;
}
.containerNavMenu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}
.optionMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 0.5vw;
}
.optionMenu:hover{
    background-color: rgb(103, 11, 139);
    color: white;
    transition: 400ms ease;
}
.containerNavMenu a, .containerNavMenu a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(103, 11, 139, 0.5);
}
.containerNavMenu a:focus{
    border-bottom: 3px solid rgb(103, 11, 139);
    font-weight: bold;
}
.containerViewComponentOption{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    padding: 1vw 1vw 1vw 1vw;
}
/* COMPONENTE DE MI BIBLIOTECA O MIS LIBROS (MAURI) */
.booksBoxUserProf{
    display: flex;
    flex-wrap: wrap;
}
.dropDownMenu {
    width: 12vw;
    font-size: 1.2vw;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 81vw;
    top: 10vh;
    z-index: 5;
    transition: 1s ease;
}
.dropDownMenu ul a li {
    text-decoration: none;
    list-style: none;
    background-color: rgb(182, 132, 230);
    padding: 0.5vw;
}
.dropDownMenu ul a{
    text-decoration: none;
}

.dropDownMenu ul a:hover{
    text-decoration: none;
}
.dropDownMenu ul a li:hover{
    color: white;
    font-weight: bold;
    background-color:  rgb(103, 11, 139);
    transition: 300ms ease;
}
.containerFirstBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    margin-top: 2vw;
    padding: 1vw;
}
.containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    height: 100%;
}
.containerInfoField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    padding-left: 0.5vw;
}
.containerInfoField p{
    font-weight: bold;
    font-size: 1.7vw;
}
.containerField{
    border-bottom: 2px solid rgb(163, 6, 224);
    display: flex;
    align-items:center;
    width: 100%;
    height: 40%;
    padding-left: 0.5vw;
}
.containerFieldData{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerFieldData p{
    color: rgb(163, 6, 224);
    font-size: 1.4vw;
}
.iconField {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyContainerProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 21vw;
    border-radius: 10px;
    padding: 0.5vw;
    height: 28vw;
    border: 1px solid rgb(103, 11, 139);
    background-color: white;
    box-shadow: 6px -4px 5px rgb(123, 122, 122);
    margin-bottom: 1vw;
    /* background-color: tomato; */
}
.storyContainerProfile:hover {
    box-shadow: 7px -5px 8px rgb(50, 50, 50);
    transition: 100ms ease;
}
.containerFirstBlockStory {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.storyUserProfile, .storyGenreProfile{
    font-size: 1.2vw;
    color: rgb(110, 110, 110);
}
.storyUserProfile span, .storyGenreProfile span {
    font-weight: bold;
}
.containerSecondBlockStory {
    height: 25%;
    width: 100%;
}.containerThirdBlockStory {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyPicProfile{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 45%;
}
.containerInformationBookProfile {
    height: 100%;
    width: 55%;
    background-color: rgba(219, 178, 236, 0.175);
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
}
.informationBookProfile {
    height: 60%;
}
.storyIconsProfile {
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-evenly;
    justify-self: flex-end;
    height: 20%;
}
/* STYLES OF NEW BOOK */

.section-form-book {
    height: 100vh;
    width: 98vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55vh;
}

.imag-form-book {
    background-image: url(../assets/imagFormBook.png);
    height: 60vh;
    width: 99.5vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
}

.frase-form {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    margin-top: 40vh;
    align-items: center;
    padding-left: 8vh;
}

.frase, .frase-chapter{
    width: 35vw;
    margin-left: -8vh;
    background-color: rgb(103, 11, 139);
    color: white;
    padding: 5vh;
    padding-left: 10vh;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5vh;
    text-align: center;
}

.frase h4 {
    font-family: 'Satisfy', cursive;
}

.frase h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


.container-form-book{
    background-color: white;
    border: solid 3px rgb(55, 112, 187);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.form-book {
    width: 60vw;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newBook{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh;
}


.input-formBook {
    width: 51VW;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: none;
    border-bottom: solid 1.8px rgb(55, 112, 187);
    padding-left: 3vh;
    padding-right: 3vh;
}

.input-formBook:focus , .botonRinput-formBookegister:focus, .textarea-formBook:focus {
    outline: none;
}

.textarea-formBook {
    border: solid 1.8px rgb(55, 112, 187);
    resize: none;
    overflow-y: scroll;
}

.textarea-formBook::-webkit-scrollbar {
    width:1.7vh;
}

.textarea-formBook::-webkit-scrollbar-track {
    background-color: transparent;
}

.textarea-formBook::-webkit-scrollbar-thumb {
    background-color: rgb(55, 112, 187);
}

.buttonDiscover {
    height: 10vh;
    display: inline-block;
    background-color: rgb(55, 112, 187);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
}

.buttonDiscover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    padding-right: 25px;
    padding-right: 25px;
}

.buttonDiscover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonDiscover:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#108cc5;
    color: white;
    border: solid 0.1vh rgb(35, 60, 201);
}

.buttonDiscover:hover span:after {
    opacity: 1;
    right: 0;
}

/* estilos new chapter (gime) */
.chapter {
    height: 100vh;
    width: 98vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55vh;
}

.chapterSended{
    width: 44vw;
    border: none;
}


.imag-form-chapter {
    background-image: url(../assets/Paisaje\ 11.jpg);
    height: 60vh;
    width: 99vw;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.frase-form {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    margin-top: 45vh;
    align-items: center;
    padding-left: 8vh;
}

.frase-chapter h4 {
    font-family: 'Source Sans Pro', sans-serif;

}

.container-form-chapter {
    background-color: white;
    border: solid 3px rgb(55, 112, 187);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-chapter {
    width: 60vw;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.input-chapter{
    width: 45VW;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: none;
    border-bottom: solid 1.8px rgb(55, 112, 187);
    padding-left: 3.5vh;
    padding-right: 3vh;
}

.input-chapter:focus {
    outline: none;
}

.textarea-chapter {
    border: solid 1.8px rgb(55, 112, 187);
    padding-left: 3vh;
    padding-right: 3vh;
    height: 10vh;
}


.buttonNewChapter {
    height: 8vh;
    width: 20vw;
    display: inline-block;
    background-color: rgb(55, 112, 187);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
    margin-top: 4vh;
}

.buttonNewChapter span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
}

.buttonNewChapter span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonNewChapter span {
    padding-right: 25px;
}

.buttonNewChapter:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#108cc5;
    color: white;
    border: solid 0.1vh rgb(35, 60, 201);
}

.buttonNewChapter:hover span:after {
    opacity: 1;
    right: 0;
}

/* CORRECION FOOTER MAURI */

footer {
    border-top: 1.5px solid rgb(103, 11, 139);
}

footer p {
    color: rgb(103, 11, 139);
}

.footerRight a{
    color:rgb(103, 11, 139)!important;
}

/* COMPONENTE STORIES (MAURI) */

.capitalize{
    text-transform: capitalize;
}
.storiesContainer{
    background-image: url("../assets/fotoHome2.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;
}
.boxStories{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px -3px 8px rgba(146, 138, 150, 0.685);
    border-radius: 10px;
    width: 85%;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}
.upContainerStories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    /*  */
}
.downContainerStories{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1vh;
    border-top: 1px solid rgb(179, 179, 179);
    padding-bottom: 3vh;
}
.storyContainer{
    display: flex;
    align-items: center;
    width: 34vw;
    border-radius: 10px;
    padding-top: 2vh;
    padding-left: 2vw;
    height: 60vh;
    margin-top: 2vh;
    border: 1px solid rgb(103, 11, 139);
    justify-content: center;
    background-color: white;
}
.storyBodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 51vh;
    padding-bottom: 1vh;
    margin-left: 0.7vw;
    align-items: flex-start;
    width: 18vw;
}
.storyIcons{
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}
.boxInputStories{
    margin-right: 4vw;
    font-size: 1.5vw;
}
.boxInputStories label{
    font-size: 1.5vw;
}
.boxInputStories select{
    outline: none!important;
    border: none;
}
.boxInputStories option{
    border: none!important;
    outline: none!important; 
}
.boxInputStories option::selection{
    background-color: greenyellow!important;
    color: hotpink;
}

.storyPic{
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 51vh;
}
.verMasStory{
    color: white;
}
.storyDescription{
    color: rgb(110, 110, 110);
    font-size: 1.2vw;
    width: 90%;
    height: 20vh;
}
.storyUser{
    color: rgb(110, 110, 110);
}
.storyGenre{
    color: rgb(110, 110, 110);
}
.storyButtons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.storyNumber{
    margin-left: 5vw;
    font-size: 1.5vw;
}
.storyTitle{
    font-size: 1.5vw;
    text-transform: capitalize;
    font-weight: bold;
}


/* componente storyDescriptio (gime) */

.uno{
    height: 80vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
}

.dos{
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-top: 3vh;
}

.hola{
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.cuatro{
    position: absolute;
    display: flex;
    width: 60vw;
    margin-top: 25vh;
    margin-left: 3vh;
    align-items: center;
}

.chauu{
    background-image: url(../assets/fontoDesciptionStory.jpg);
    height: 60vh;
    width: 98.7vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.cinco {
    color: rgb(255, 255, 255);
    margin-left: 4vh;
}

.BotonLeer {
    padding: 1vh 8vh 1vh 8vh;
    margin-top: 11vh;
    background-color: rgb(98, 18, 129);
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 25px 25px 25px 25px ;
}

.seis{
    width: 50vw;
    border-bottom: solid 2px rgb(103, 11, 139);
    margin-bottom: 0vh;
    margin-left: 4vh;
}

.seis h2 {
    margin-left: 3vh;
}

.siete{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border-bottom: solid 2px rgb(103, 11, 139);
    margin-left: 4vh;
}

.siete button {
    width:50vw ;
    text-align: start;
    background-color: rgb(245, 245, 245);
    border: none;
    padding: 2vh 0vh 2vh 0vh;
}

.siete button:hover{
    background-color: rgb(228, 228, 228);
    font-size: 3vh;
}

.siete button p {
    margin-left: 3vh;
}

.ocho {
    display: flex;
    justify-content: space-between;
}

.nueve{
    width: 34vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 1px rgb(103, 11, 139);
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.5),0 17px 25px 0 rgba(0, 0, 0, 0.5);
    margin-right: 8vh;
}

/* estilos de comentarios (gime) */

.inputButtomEnvComment {
    margin-top: 5vh;
    width: 30vw;
    margin-left: 5vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;

}

.inputButtomEnvComment input {
    border: none;
    width: 25vw;
    border-bottom: solid 1px  rgb(103, 11, 139);
}

.containerComment {
    width: 30vw;
    margin-left: 5vh;
}

.chichi{
    overflow-x: auto;
    margin-top: 5vh;
}

.chichi::-webkit-scrollbar {
width: 10px;
}

.chichi::-webkit-scrollbar-track {
background-color: transparent;
}

.chichi::-webkit-scrollbar-thumb {
background-color: rgba(194, 99, 231, 0.534);
border-radius: 30px;
}

.containerComments{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userPicAndName{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rounded-circle {
    height:8vh;
    width: 4vw;
}

.contentComment {
    width: 18vw;
    background-color: rgb(138, 61, 168);
    padding: 0.5vh;
    border-radius: 25px;
}

.contentComment p {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    border: solid 1px rgb(103, 11, 139);
    border-radius: 20px;
}

.contentComment p{
    padding: 1vh 2vh;
}

.botonesEditAndBorrar button {
    margin-left: 1vh;
}

.d-flex{
    height: 10vh;
}


/* estilos Settings (gime) */

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50vh;
}

.imagSettings {
    background-image: url(../assets/17010.jpg);
    height: 60vh;
    width: 98.7vw;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 28vh;
    margin-top: 2vh;
}

.container-form-settings{
    width: 85vw;
    position: absolute;
    background-color: white;
    margin-top: 85vh;
    padding: 5vh;
    border: solid 1px rgb(35, 60, 201);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.tituloIcon{
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
    margin-left: 10vh;
}

.tituloIcon h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.iconoAjus {
    background-image: url(../assets/logoAjustes.png);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    width: 5vw;
    -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.settingsEdit{
    display: flex;
    border: solid 1px rgb(103, 11, 139);
    background-color: rgb(103, 11, 139);
    width: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
    border-radius: 10px;
    color: white;
}

.settingsEdit:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5),0 10px 10px 0 rgba(0, 0, 0, 0.5);

}

.line {
    display: flex;
    align-items: center;
}


.line input {
    width: 45VW;
    height: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: none;
    border-bottom: solid 1.8px rgb(55, 112, 187);
    padding: 2vh;
}

.line input:focus {
        outline: none;
}

.lineImgUser {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0vh !important;
}

.lineImgUser input {
    width: 35vw;
}

.buttonSettings {
    height: 8vh;
    width: 35vw;
    display: inline-block;
    background-color: rgb(55, 112, 187);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
    margin-left: 16vw;
    margin-top: 2vh;
}

.buttonSettings span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    margin-top: 1.5vh;
}

.buttonSettings span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonSettings:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#108cc5;
    color: white;
    border: solid 0.1vh rgb(35, 60, 201);
}

.buttonSettings span {
    padding-right: 25px;
}

.buttonSettings:hover span:after {
    opacity: 1;
    right: 0;
}

.selectImagPerfil{
    margin-top: 5vh;
    color: white;
    padding: .5em 1em;
    background-color: rgb(103, 11, 139);
    display: block;
    width: 20vw;
    text-align: center;
    height: 15vh;
    margin-left: 22vw;
}

.selectImagPerfil label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* finishBook estilos (gime) */
.conteiner-finishBook{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70vh;
}
.imagFinishBook{
    background-image: url(../assets/123.jpg);
    height: 60vh;
    width: 98.7vw;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
}

.form-finishBook{
    height: 70vh;
    position: absolute;
    background-color: white;
    border: solid 3px rgb(55, 112, 187);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    margin-top: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.inputAndButtonFinishBook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    width: 50vw;
}

.finishBook{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin-left: 5vh;
    margin-top: 15vh;
}

.finishBook h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.finishBook input {
    border-bottom: solid 1px rgb(55, 112, 187);
}

.portadaImage{
    background-position: center;
    background-size: cover;
    margin-right: 5vh;
    width: 40vh;
    height: 60vh;
    margin-top: 15vh;
}

.buttonFinshBook {
    width: 20vw;
    height: 10vh;
    display: inline-block;
    background-color: rgb(55, 112, 187);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

.buttonFinshBook span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    padding-right: 25px;
    padding-right: 25px;
}

.buttonFinshBook span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonFinshBook:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#108cc5;
    color: white;
    border: solid 0.1vh rgb(35, 60, 201);
}

.buttonFinshBook:hover span:after {
    opacity: 1;
    right: 0;
}

.selectImagPort {
    margin-top: 5vh;
    color: white;
    padding: .5em 1em;
    background-color: rgb(103, 11, 139);
    display: block;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    }

.fa-hand-pointer{
    height: 5vh;
}

.imagePort[type="file"] {
    width: 20vw;
    height: 5vh;
    opacity: 0;
}

/* estilos StoryBook (gime) */

.containerCap{
    margin-top: 2vh;
    height: auto;
}

.containerParrafosAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerTitleAndUser, .containerCap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titleCap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.titleCap div h5 {
    font-size: 2.5vh;
}

.userDate {
    margin-bottom: 4vh;
}

.containerParrafosAndButton button {
    margin-bottom: 5vh;
    margin-top: 5vh;
    width: 30vw;
    height: 10vh;
    display: inline-block;
    background-color: rgb(103, 11, 139);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

.containerParrafosAndButton button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    padding-right: 25px;
    padding-right: 25px;
}

.containerParrafosAndButton button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.containerParrafosAndButton button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:rgb(138, 61, 168);
    color: white;
    border: solid 0.1vh white;
}

.containerParrafosAndButton button:hover span:after {
    opacity: 1;
    right: 0;
}

.containerParrafos {
    width: 70vw;
    margin-bottom: 3vh;
}

/* ESTILOS DE MODIFYBOOK (SANTI) */

.modify-book {
    width: 80vw;
    height: 100vh;
}

.modify-book-image {
    margin: 2vh auto;
    width: 30vw;
    height: 50vh;
}

.modify-book-title {
    color: red
}

.modify-book-chapters {
    width: 90vw;
    /* height: 100%; */
}

.resultBusqueda{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* ESTILOS MODIFICAR LIBRO (MAURI) */
.oneModify{
    height: 80vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.fourModify{
    background-size: cover;
    box-shadow: 0 12px 16px 0 rgba(211, 209, 209, 0.5),0 17px 50px 0 rgba(238, 235, 235, 0.5);
}

.threeModify{
    position: absolute;
    display: flex;
    width: 60vw;
    margin-top: 25vh;
    margin-left: 3vh;
    align-items: center;
}

.twoModify{
    background-image: url(../assets/fontoDesciptionStory.jpg);
    height: 60vh;
    width: 98.7vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.fiveModify {
    color: rgb(255, 255, 255);
    margin-left: 4vh;
}

.buttonModify {
    padding: 1vh 8vh 1vh 8vh;
    margin-top: 11vh;
    background-color: rgb(98, 18, 129);
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 25px 25px 25px 25px ;
}
.eightModify{
    display: flex;
    justify-content: center;
    width: 50vw;
    border-bottom: solid 2px rgb(103, 11, 139);
    margin-bottom: 0vh;
    margin-left: 4vh;
}

.eightModify h2 {
    margin-left: 3vh;

}

.nineModify{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    border-bottom: solid 2px rgb(103, 11, 139);
    margin-left: 4vh;
}

.nineModify button {
    width:50vw ;
    text-align: start;
    background-color: rgb(245, 245, 245);
    border: none;
    padding: 2vh 0vh 2vh 0vh;
}

.nineModify button:hover{
    background-color: rgb(228, 228, 228);
    font-size: 3vh;
}

.nineModify button p {
    margin-left: 3vh;
}
.sevenModify{
    display: flex;
    flex-direction: column;
    align-items: center;
}
