/* ----- General configuration for the all document ----- */

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Styles for Header and Footer (Juanca) */

.containerHeader {
    height: 15vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

header, footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header *, footer * {
  text-decoration: none;
  font-weight: bold;
  
}

.headerLeft, .headerRight, .toSearch, .footerLeft, .footerRight {
  display: flex;
  align-items: center;
}

header div.toSearch {
  margin-top: .3vw;
}

header a, footer a {
  color: black;
}

.headerLeft img.logo, .footerLeft img.logo {
  width: 15vw;
  margin: 0 3vw 0 0;
  background-position: center;
  background-size: cover;
}

header p {
  margin: 0 1.5vw 0 0;
  border: none;
  outline: none;
}

header p, header i, footer p {
  font-size: 1.4vw;
}

header div.toSearch:hover, header p:hover, header a:hover {
  text-decoration: underline;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

div.dropdown-content {
  padding: 1vh .5vw;
  background-color: white;
  display: none;
  position: absolute;
  width: 32vw;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown:hover div.dropdown-content {
  display: block;
}

.dropdown-content .genres {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-content .genres p.genre {
  margin: .1vh .2vw .1vh 0;
  width: 10vw; 
}

.fa-search {
  margin-right: .2vw;
}

.dropDownPic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 11, 139);;
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin: 0 1vw;
}

.footerRight a img {
  width: 2.2vw;
  margin: 0 0 0 0.5vw;
  border-radius: 50%;
}

/* Styles Settings y New Chapter (Juanca) */
section.settings, section.chapter {
  min-height: 79.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-settings {
  margin: 0 10vw 0 0;
}

.form-settings, .form-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.form-settings label {
  width: 15vw;
}

.form-settings label, .form-chapter label {
  min-width: 5vw;
  text-align: right;
  margin: 1vh 1vw 1vh 0;
}

.form-chapter label.labelContent {
  text-align: center;
}

.form-settings input, .form-chapter input, .form-settings select, .form-settings div.checkbox{
  width: 20vw;
  text-align: left;
}

.form-settings input#showName {
  width: 1vw;
}

.form-settings div.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-chapter textarea {
  width: 100%;
}

.buttonSettings {
  width: 10vw;
  height: 4vh;
}

.buttonNewChapter {
  margin: 0 1vw 0 0;
}

.buttonSettings, .buttonNewChapter {
  cursor: pointer;
}

  /* estilos del register (gime) */
.containerRegister,.containerLogin {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;
}

.imagRegister {
    background-image: url(../assets/fondoRegister.jpg);
    height: 100vh;
    width: 99vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    display: flex;
}

.registerInput {
    height: 20vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 93%;
}

.register {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    position: absolute ;
    border: solid 2px rgb(83, 1, 150);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nameAndLastName, .userNameAndPassword {
    display: flex;
    justify-content: space-between;
}

.nameAndLastName input, .userNameAndPassword input {
    width: 15vw;
    margin: 1vh;
}

.inputRegister {
    width: 31VW;
    height: 5vh;
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1.5px rgb(98, 18, 129);
    padding-left: 3vh;
    padding-right: 3vh;
}

.inputRegister:focus , .botonRegister:focus {
    outline: none;
}

.botonRegister {
    background-color: rgb(98, 18, 129);
    width: 10vw;
    color: rgb(255, 255, 255);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 25px 25px 25px 25px ;
}

.login {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    position: absolute ;
    border: solid 2px rgb(83, 1, 150);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.iconoFacebook{
    background-color: rgb(35, 60, 201);
    color: white;
    padding: 0;
    width: 16vw;
    margin-top: 1vh;
}
/* ESTILOS DE LA HOME Y LAS SECTIONS (MAURI) */

  .sectionBox{
      /* min-height: 100vh; */
      background-image: url("../assets/fotoHome2.jpg");
      background-size: cover;
      background-position:right;
      background-attachment: fixed;
  }
  .firstSection{
      height: 100vh;
      /* margin-top: 4vh; */
      margin-left: 1vw;
      display: flex;
      align-items: center;
  }
  .leftBoxFirst{
      margin-top: 5vh;
      margin-left: 4vw;
      width:50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 70vh;
  
  }
  .titleFirst{
      color: rgb(103, 11, 139);
      font-weight: bold;
      font-size: 4vw;
      width: 25vw;
  }
  .boton2{
      margin-left: 2vw;
  }
  .btn{
      background-color:rgb(138, 61, 168)!important;
      border: rgb(138, 61, 168);
  }
  .btn:hover{
      background-color: rgb(163, 87, 173)!important;
  }
  .firstP{
      margin-top: 4vh;
      font-weight: bold;
      font-size: 1.7vw;
      width: 25vw;
  }
  .secondP{
      margin-top: 4vh;
      font-size: 1.5vw;
      color: rgb(112, 111, 111);
      width: 25vw;
      margin-bottom: 4vh;
  }
  .rightBoxFirst{
      background-image: url('../assets/dispositivos2.png');
      background-size: contain;
      background-repeat: no-repeat;
      height: 50vh;
      width: 50vw;
      margin-top: 20vh;
      padding-right: 10vw;
  }
  .secondSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* height: 100vh; */
      padding-bottom: 1vh;
      margin-top: 15vh;
      /* background-color: rgba(127, 255, 212, 0.459); */
  }
  .firstUp{
      text-align: center;
      font-size: 3vw;
      font-weight: bold;
  }
  .secondUp{
      display: flex;
      width: 90vw;
      justify-content: space-between;
      text-align: center;
      color: rgb(175, 98, 194)
  }
  .verContainer{
      width: 25vw;
      margin-top: 4vh;
      font-size: 1.7vw;
  }
  .verContainer p {
      font-weight: 600;
  }
  .verContainer i{
      font-size: 2vw;
      font-weight: bold;
      margin-bottom: 1vh;
  }
  .downBoxSecond{
      display: flex;
      justify-content: flex-start;
      /* background-color: blue; */
      height: 60vh;
      width: 90vw;
      margin-top: 9vh;
      margin-left: 4vw;
  }
  .imgBoxSecond{
      background-image: url('../assets/secondImage.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 50vw;
      height: 50vh;
  }
  .textRightSecondBox{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 45vw;
      margin-right: 20vw;
      /* background-color: burlywood; */
  }
  .firstTextRightSecond{
      font-size: 2vw;
      font-weight: bold;
  }
  .secondTextRightSecond{
      color: rgb(123, 122, 122);
      font-weight: 600;
  }
  .thirdTextRightSecond{
      color: rgb(123, 122, 122);
      font-weight: 600;
  }
  .svgContainer{
      /* background-color: coral; */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 20vh;
      margin-top: -2vh;
  }
  .sony{
      background-image: url('../assets/sony.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 12vh;
      width: 5vw;
      /* background-color: cyan; */
  }
  .hulu{
      background-image: url('../assets/hulu.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 5vh;
      width: 5vw;
      margin-right: 2vw;
  }
  .syfy{
      background-image: url('../assets/syfy.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 5vh;
      width: 10vw;
  }
  .thirdSection{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 15vh;
      /* background-color: darksalmon; */
  }
  .upContainerThird{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* background-color: darkseagreen; */
      justify-content: space-evenly;
      height: 62vh;
      width: 95vw;
  }
  .firstContainerUpThird{
      text-align: center;
      margin-bottom: 7vh;
  }
  .titleThirdSec{
      font-size: 3vw;
      font-weight: bold;
      margin-bottom: 4vh;
  }
  .subTitleThirdSec{
      font-size: 1.4vw;
  }
  .secondContainerUpThird{
      display: flex;
  }
  .infoSecondContainerThird{
      display: flex;
      /* background-color: cyan; */
      height: 30vh;
      width: 25vw;
      align-items: center;
  }
  .titleTextSecContTh{
      font-size: 2vw;
      font-weight: 640;
  }
  /* .bodyTxtSecContTh{
      color:rgb(112, 112, 112);
  } */
  .numberSecondContThird{
      display: flex;
      color: rgb(175, 98, 194);
      align-items: center;
      font-size: 6vw;
      font-weight: bold;
      margin-right: 2vw;
      margin-left: 1.5vw;
  }
  .textSecondContThird{
      font-size: 1.2vw;
      width: 20vw;
      /* height: 19vh; */
      margin-right: 1vw;
  }
  .imgThirdSec{
      display: flex;
      width: 80vw;
      padding-left: 1.5vw;
      /* background-color: darkturquoise; */
      justify-content: space-around ;
      color: whitesmoke;
  }
  .resources{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .resources p{
      /* background-color: red; */
      font-size: 1.8vw;
      /* padding-top: 1.5vh; */
      padding-bottom: 8.2vh;
      font-weight: bold;
      width: 10vw;
  
  }
  .readers{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      /* background-position: center; */
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-left: 0.5vw;
      margin-top: 2vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
  }
  .readers p{
      font-size: 1.8vw;
      padding-top: 3.5vh;
      font-weight: bold;
      width: 10vw;
  
  }
  .offers{
      background-image: url('../assets/cuadro1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 22vw;
      height: 34vh;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .offers p{
      font-size: 1.8vw;
      /* padding-top: 3vh; */
      padding-bottom: 1.5vh;
      font-weight: bold;
      width: 10vw;
  }
  .fourthSection{
      background-image: url('../assets/thirdImage.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      margin-top: 15vh;
      margin-bottom: 17vh;
      justify-content: space-between;
  }
  .upContainerFourth{
      /* background-color: thistle; */
      height: 40vh;
      width: 50vw;
      padding-bottom: 4vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
  }
  .fourthTitle{
      color: white;
      font-size: 3vw;
      font-weight: bold;
  }
  .fourthBody{
      color: white;
      font-size: 1.5vw;
      font-weight: 600;
  }
  .fourthSecButtons{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }
  .fourthSecButtons button{
      color: white;
  }
  .fourthSecBack{
      padding-top: 2vh;
      background-image: url('../assets/dispositivos.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 88vh;
      width: 75vw;
      margin-bottom: -16vh;
  }

/* ----- Styles for component SearchStories ----- */ 

            /* Search Bar */
.containerComponentSearchStories {
    background-image: url('../assets/IMG-20210214-WA0068.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerSearchBar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.inputSearchStories:focus {
    color: rgb(103, 11, 139);
    font-weight: bold;
}
.inputSearchStories {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(103, 11, 139);
    height: 75%;
    width: 50%;
    text-align: center;
    font-size: 2.5vw;
    border-style: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    transition: 750ms ease;
}
.inputSearchStories::placeholder {
    color:white;
}
.inputSearchStories:focus{ 
    background-color: white;
    transition: 750ms ease;
}
.inputSearchStories:focus::before{ 
    background-color:rgb(103, 11, 139);
    transition: 750ms ease;
}
.inputSearchStories:focus::placeholder {
    color:rgb(103, 11, 139);
    transition: 750ms ease;
}
.iconSearchStories {
    background-color: rgb(103, 11, 139);
    width: 5%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;   
    border-bottom-right-radius: 5px;
    color: white;
}
.iconSearchStories:hover {
    font-size: 2vw;
    transition: 150ms ease-in;
}
            /* Title Section */
.containerTitleSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-top: 2vh
}
.containerTitleSearch h1{
    font-size: 3.5vw;
}

            /* Cards */
.containerViewCardsCategories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
}
.containerViewCardsCategories a{
    text-decoration: none;
    font-size: 2.8vw;
    color: black;
}
.cardCategory {
    background-color: white;
    width: 23vw;
    height: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw;
    padding: 0.5vw;
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgb(75 75 75);
    position: relative;
}
/* --- De prueba --- */
.cardCategory::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}
.cardCategory:hover {
    box-shadow: 4px -4px 12px rgb(103, 11, 139);
    transition: 300ms ease;
}
/* --- De prueba --- */
.cardCategory:hover::before {
    width: 100%;
}

.nameCategory {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.5vw;
}
.containerLogoCategory {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoCategory {
    background-color: hotpink;
    background-size: cover;
    border-radius: 50%;
}

/* STYLES OF NEW BOOK */

.section-form-book {
    height: 100vh;
    width: 98vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55vh;
}

.imag-form-book {
    background-image: url(../assets/imagFormBook.png);
    height: 60vh;
    width: 98.79vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.frase-form {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    margin-top: 40vh;
    align-items: center;
    padding-left: 8vh;
}

.frase{
    width: 35vw;
    margin-left: -8vh;
    background-color: rgb(103, 11, 139);
    color: white;
    padding: 5vh;
    padding-left: 10vh;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5vh;
    text-align: center;
}

.frase h4 {
    font-family: 'Satisfy', cursive;
}

.frase h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


.container-form-book{
    background-color: white;
    border: solid 3px rgb(55, 112, 187);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.form-book {
    width: 60vw;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newBook{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh;
}


.input-formBook {
    width: 51VW;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: none;
    border-bottom: solid 1.8px rgb(55, 112, 187);
    padding-left: 3vh;
    padding-right: 3vh;
}

.input-formBook:focus , .botonRinput-formBookegister:focus {
    outline: none;
}

.textarea-formBook {
    border: solid 1.8px rgb(55, 112, 187);
}

.buttonDiscover {
    height: 10vh;
    display: inline-block;
    background-color: rgb(55, 112, 187);
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    border: solid 0.1vh rgb(255, 255, 255);
}

.buttonDiscover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
}

.buttonDiscover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonDiscover span {
    padding-right: 25px;
}

.buttonDiscover:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#108cc5;
    color: white;
    border: solid 0.1vh rgb(35, 60, 201);
}

.buttonDiscover:hover span:after {
    opacity: 1;
    right: 0;
}

/* CORRECION FOOTER MAURI */

footer {
    border-top: 1.5px solid rgb(103, 11, 139);
}
footer p {
    color: rgb(103, 11, 139);
}
.footerLeft{
    margin-left: 5vw;
}
.footerRight a{
    color:rgb(103, 11, 139)!important;
}

/* COMPONENTE STORIES (MAURI) */

.capitalize{
    text-transform: capitalize;
}
.storiesContainer{
    background-image: url("../assets/fotoHome2.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;
}
.boxStories{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px -3px 8px rgba(146, 138, 150, 0.685);
    border-radius: 10px;
    width: 85%;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}
.upContainerStories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    /*  */
}
.downContainerStories{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1vh;
    border-top: 1px solid rgb(179, 179, 179);
    padding-bottom: 3vh;
}
.storyContainer{
    display: flex;
    align-items: center;
    width: 34vw;
    border-radius: 10px;
    padding-top: 2vh;
    padding-left: 2vw;
    height: 60vh;
    margin-top: 2vh;
    border: 1px solid rgb(103, 11, 139);
    justify-content: center;
}
.storyBodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 51vh;
    padding-bottom: 1vh;
    margin-left: 0.7vw;
    align-items: flex-start;
    width: 18vw;
}
.storyIcons{
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}
.boxInputStories{
    margin-right: 4vw;
    font-size: 1.5vw;
}
.boxInputStories label{
    font-size: 1.5vw;
}
.boxInputStories select{
    outline: none!important;
    border: none;
}
.boxInputStories option{
    border: none!important;
    outline: none!important; 
}
.boxInputStories option::selection{
    background-color: greenyellow!important;
    color: hotpink;
}

.storyPic{
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 51vh;
}
.verMasStory{
    color: white;
}
.storyDescription{
    color: rgb(110, 110, 110);
    font-size: 1.2vw;
    width: 90%;
    height: 20vh;
}
.storyUser{
    color: rgb(110, 110, 110);
}
.storyButtons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.storyNumber{
    
    margin-left: 5vw;
    font-size: 1.5vw;
}
.storyTitle{
    font-size: 1.5vw;
    text-transform: capitalize;
    font-weight: bold;
}
